<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7337973354.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="../../assets/dream/Dreams-International-Logo-Footer.png">
               <h2>Dreams International</h2></div>
               
                <div class="back">
                    <img src="../../assets/dream/Dreams-International-Logo-Footer.png">
                    <h1>Dreams International</h1>
                    <div class="icons ">
                        <div class="icon-group">
                            <span class="bold"><fa-icon [icon]="icon"></fa-icon></span>
                            <span class="Contact">+91 7588833768</span>
                        </div>

                        <div class="icon-group">
                            <span class="bold"><fa-icon [icon]="icon1"></fa-icon></span>
                            <span class="Contact">infopunedreams.com</span>
                        </div>

                        <div class="icon-group">
                            <span class="bold"><fa-icon [icon]="icon2"></fa-icon></span>
                            <span class="Contact"><a href="https://www.dreamsinternational.in/">www.dreamsinternational.in</a></span>
                        </div>

                        <div class="icon-group">
                            <span class="bold"><fa-icon [icon]="icon3"></fa-icon></span>
                            <span class="Contact"><a href="https://www.google.com/maps/place/Dreams+International+%7C+Professional+Website+Design+Company+%7C+SEO+(Search+Engine+Optimization+)+%7C+Digital+Marketing+Company/@18.496564,73.85696,15z/data=!4m6!3m5!1s0x3bc2bfeb0285bf91:0x2f2ad33e3ea3ca56!8m2!3d18.496564!4d73.85696!16s%2Fg%2F1q64wms68?entry=ttu">211, Paras Chambers,Above BOI, Near Laxminarayan Theatre, Pune 411009</a></span>

                           
                        </div>
                     </div>
                    
                </div>
            </div>
    </div>

    <div class="service">
        <h4>SERVICES</h4>
    </div>
    
    <div class="design">
        <h4>Website Design</h4>
        <div class="image">
           <img src="../../assets/dream/1.jpg" height="400px">
           <button><a href="#enquiry">Enquiry</a></button>
        </div>
    </div>

    <div class="design">
        <h4>Digital Marketing</h4>
        <div class="image">
           <img src="../../assets/dream/2.jpg" height="400px">
           <button><a href="#enquiry">Enquiry</a></button>
        </div>
    </div>
   
    <div class="design">
        <h4>Ecommerce Website</h4>
        <div class="image">
           <img src="../../assets/dream/3.jpg" height="400px">
           <button><a href="#enquiry">Enquiry</a></button>
        </div>
    </div>

    <div class="design">
        <h4>Search Engine Optimization</h4>
        <div class="image">
           <img src="../../assets/dream/4.jpg" height="400px">
           <button><a href="#enquiry">Enquiry</a></button>
        </div>
    </div>

    <div class="service">
        <h4>UPI PAYMENTS</h4>
    </div>
    <div class="pay">
        <h1>Google Pay Number : <span class="no">7588833768</span></h1>
    </div>

    <div class="service">
        <h4>BANK ACCOUNT</h4>
    </div>
    <div class="bank">
        <h2>Bank Name  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">:  Indusind</span></h2>
        <h2>Branch Namer  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">:  Branch</span></h2>
        <h2>IFSC Code  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">:  ifsc</span></h2>
        <h2>Bank City  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="name">:  Pune</span></h2>
        <h2>Account Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">:  201000524954</span></h2>
        <h2>Account Type  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">:  Current</span></h2>
    </div>

    <div class="service" id="enquiry">
        <h4>ENQUIRY FORM</h4>
    </div>
 
    <div class="form">
        <input type="text" placeholder="Enter Name"><br>
        <input type="text" placeholder="Enter Mobile"><br>
        <input type="text" placeholder="Enter Email"><br>
        <input type="textarea" placeholder="Enter Enquiry Details" id="en">

        <button id="submit">SEND     <fa-icon [icon]="icon7"></fa-icon></button>
    </div>

  <div class="footer">
    <h2>&copy; Create your own. Its free</h2>
    <a href="https://www.cardmonk.com/">www.cardmonk.com</a>
  </div>
   



</div>
</body>
</html>
